p#disclaimer {
    padding-top: 1em;
    text-justify: none;
}

ul#accepted-papers {
    padding-top: 0.5em;
    margin: 0;
    padding-left: 0;
}

.authors {
    text-indent: 0.5em;
    padding: 0.3em;
}

.title {
    font-weight: bold;
    font-weight: larger;
}

li.paper {
    display: flex;
    flex-direction: column-reverse;
    border-bottom: 2px solid #75757570;
    padding: 0.8em;
    text-justify: none;
}
